/* App.css atau index.css */
.img-carousel {
  height: 300px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
  object-fit: cover; /* Atur gambar agar tetap berada dalam kotak yang ditentukan */
}
/* App.css atau index.css */
.caption-text {
  color: black; /* Mengatur warna teks menjadi hitam */
}
